
body{
    background-image: linear-gradient( rgb(177, 71, 45), rgba(88, 35, 22, 0.863) );

}
h1{
    font-size: 25px;
}
h2 {
    font-size: 25px;
}
h3 {font-size: 25px;
}
h4 {
font-size: 25px ;
}
.cabecalho__animes {
    width: 24px;
    height: 24px;
    background-image: url(https://images.app.goo.gl/p8MxftmKwEmM36j97/img/Animes.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cabecalho__animes {
    background-color: #a52a2a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista de animes {
    padding: 1em;
    background-color: #a52a2a;
}

.img1 {
    width: 100%;
}
.img2 {
    width: 90%;
}
.img3 {
    width: 90%;
}
.haikyuu{
    display:flex ;
    justify-content: center;
}

