:root{
    --cor-de-fundo: rgba(141, 83, 63, 0.705);
    --brown: #a52a2a
}
body{
    background-color:  var(--cor-de-fundo);
}
h1{
    background-color: black;
    font-size: small;
}
.cabecalho__animes {
    width: 24px;
    height: 24px;
    background-image: url(https://images.app.goo.gl/p8MxftmKwEmM36j97/img/Animes.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.cabecalho__animes {
    background-color: #a52a2a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    width: 80%;
}
.img2 {
    width: 75%;
}
.img3 {
    width: 75%;
}
.imghinata {
    width: 20%;
}
.imgkages {
    width: 20%;
}

.container {

}